p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}
.text-faded {
  color: rgba(255,255,255,.7);
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.header-container{
  width:100%;
  height:50%;
  border-left:none;
  border-right:none;
  position: relative;
  padding:28px;
}

.video-container{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

video{
  position: absolute;
  z-index: -1;
  opacity:0.78;
  width:100%;
}

.service {
  width: 100%;
  height: 220px;
  margin: 20px 0;
  text-align: center;
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color:#ffffff;
  font-weight: 700;
}

.service-content{
  margin-top:5%;
  margin-bottom:5%;
}


.college{
  background-image: url("../img/colleges.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.courses{
  background-image: url("../img/courses.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}


.cao{
  background-image: url("../img/cao.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}



.service .heading {
  position: relative;
  top: 80px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.service:hover {
  border-color: #ff5a5f;
}

.service:hover .heading {
  top: -30px;
}

.service .description {
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.service:hover .description {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.intro {
  padding: 25px 0;
  background-color: #fbfbfb;
}



.swag {
  background-color:#464D5C;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0;
  color:#D1E29C;
}
.swag h1 {
  color: #D1E29C;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.swag h1 span {
  display: block;
  font-size: 25px;
  margin-top: 20px;
}



h1.chain {
  text-align: center;
  text-transform: uppercase;
  color: #353738;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 600;
  background: url(../img/abc.png) no-repeat top center;
  padding-top: 150px;
}

h1.CAO {
  text-align: center;
  text-transform: uppercase;
  color: #F56991;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 600;
  background: url(../img/NotebookCAO.png) no-repeat top center;
  padding-top: 150px;
}

h1.Colleges {
  text-align: center;
  text-transform: uppercase;
  color: #F56991;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 600;
  background: url(../img/college.png) no-repeat top center;
  padding-top: 150px;
}




a {
  color: #282f35;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

a:hover {
  color: #64c29e;
  text-decoration: none;
}

.flex-container {
  background-color: #f7f7f7;
  padding: 125px 0 35px;
  text-align: center;
}

.effects {
  background-color: #282f35;
}

.effects .img {
  position: relative;
}

.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  z-index: 10
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}

a.close-overlay.hidden {
  display: none
}

#effect .overlay {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(100, 194, 158, 0.8);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}



#effect .img {
  overflow: hidden
}

#effect .img.hover .overlay {
  opacity: 1
}

#effect .img.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}

button {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #F56991;
  border: 0;
  line-height: 40px;
  padding: 0px 40px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}
.countbg
{
  background:#556270;
  padding: 80px 0px;
  width: 100%;
  float: left;
}
.countspace
{
  color: white;
  text-align: center;
  width: 100%;
  float: left;
}
.counter-item
{
  margin-top: 30px;
}

.factone{
  color:#4ECDC4;
}
.facttwo{
  color:#C7F464;
}
.factthree{
  color:#FF6B6B;
}
.factfour{
  color:#C44D58;
}
.counter-item i
{
  font-size: 40px;
  color: inherit;
}
.timer
{
  margin-top: 5px;
  font-weight: 700;
  font-size: 50px;
  color: inherit;
}
.counter-item h5
{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  color: inherit;
}

.margin-top-10 {
  padding-top: 10px;
}

.margin-bot-10 {
  padding-bottom: 10px;
}



.blue {
  color: #55938e;
  font-size: 55px;
  line-height:50px;
  font-family: 'Lato', sans-serif;

}

.brown {
  color: #a98f78;
  font-size: 55px;
  line-height:50px;
  font-family: 'Lato', sans-serif;

}

.pink {
  color: #f661c7;
  font-size: 55px;
  line-height:50px;
  font-family: 'Lato', sans-serif;

}
.block {
  width: 100%;
  margin: 0 auto;
  text-align: justify;
}

.block-gray {
  background: #f2f2f2;
  padding: 60px;
}

.college-option-postgrad{
  min-height:350px;
  max-height:350px;
  width:100%;
  background: url("../img/POSTGRAD.png")no-repeat top center #252930;

}

.design { padding: 30px 0; background-color: #f6f6f4; position: relative; }
.flat-box { background-color: #fff; -webkit-box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1); -moz-box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1); box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1); transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
.flat-box:hover, .flat-box:focus { transform: translate(0, -15px); -webkit-transform: translate(0, -15px); -o-transform: translate(0, -15px); -moz-transform: translate(0, -15px); }
.colourway { height: 346px; }
.colour1 {
  background:url('../img/undergrad.jpg')no-repeat top center;
}
.colour2 {
  background: url('../img/postgrad.jpg') no-repeat top center;
}
.title { font-size: 15px; color: #9197a8; text-transform: uppercase; font-weight: 600; letter-spacing: 2px; padding: 20px 40px 0; }
.feature-text { padding: 0px 20px 40px 40px; font-style: italic; color: #7a8387; font-size: 16px; }
.design-content p { color: #abbcc3; line-height: 30px; font-weight: 300; }


