
h1, h2, h3, h4, h5, .blue, .pink, .brown{
  font-family: 'Bree Serif', serif;
  font-weight:400;
}

h1, h2{
  font-size: 30px;
}
/*styling of capital letter for start of each section */
.seeking-sage {
  color: #99B898;
  font-size: 55px;
  line-height:50px;

}

.comfortable-skin {
  color: #FECEA8;
  font-size: 55px;
  line-height:50px;

}

.complete-coral {
  color: #FF847C;
  font-size: 55px;
  line-height:50px;
}

.melonjoly{
  color:#E84A5F;
  font-size: 55px;
  line-height:50px;
}

.coupdegrace{
  color:#2A363B;
  font-size: 55px;
  line-height:50px;
}

/*styling of capital letter for start of each section */

p {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
.text-faded {
  color: rgba(255,255,255,.7);
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.header-container{
  width:100%;
  height:50%;
  border-left:none;
  border-right:none;
  position: relative;
  padding:28px;
}

.video-container{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

video{
  position: absolute;
  z-index: -1;
  opacity:0.78;
  width:100%;
}




.thumbnail{
  padding:0!important;
  border:none!important
}

.thumbnail .caption{
  padding:0!important;
}



.caption-header{
  height:30px;
  padding: 0 15px;
  background: #E84A5F;
  color: #fff;
  font-size: 18px;
  font-family: 'Bree Serif', serif;
  font-weight:400;
  line-height: 30px;
}

.intro {
  padding: 25px 0;
  background-color: #fbfbfb;
}

h1 {
  color: #EF695B!important;
  /* line-height: 0.8em; */
  text-align: center;
  margin: 0 0 0 0;
  text-transform: uppercase;
  /* padding-top: 0px; */
}

h1.chain {
  background: url(../img/abc.png) no-repeat top center;
  padding-top: 150px;
}

h1.CAO {
  background: url(../img/NotebookCAO.png) no-repeat top center;
  padding-top: 150px;
}

h1.Colleges {
  background: url(../img/college.png) no-repeat top center;
  padding-top: 150px;
}


a {
  color: #282f35;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

a:hover {
  color: #64c29e;
  text-decoration: none;
}

.flex-container {
  background-color: #f7f7f7;
  padding: 125px 0 35px;
  text-align: center;
}




/*start of counter and stats section */
.countbg
{
  background:#556270;
  padding: 80px 0px;
  width: 100%;
  float: left;
}
.countspace
{
  color: white;
  text-align: center;
  width: 100%;
  float: left;
}
.counter-item
{
  margin-top: 30px;
}

.factone{
  color:#4ECDC4;
}
.facttwo{
  color:#C7F464;
}
.factthree{
  color:#FF6B6B;
}
.factfour{
  color:#C44D58;
}
.counter-item i
{
  font-size: 40px;
  color: inherit;
}
.timer
{
  margin-top: 5px;
  font-weight: 700;
  font-size: 50px;
  color: inherit;
}
.counter-item h5
{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: inherit;
}

/*end of timer styling */



.block {
  width: 100%;
  margin: 0 auto;
  text-align: justify;
}

.college-option-postgrad{
  min-height:350px;
  max-height:350px;
  width:100%;
  background: url("../img/POSTGRAD.png")no-repeat top center #252930;

}

.design{
  padding: 30px 0;
  background-color: #f6f6f4;
  position: relative;
}
.flat-box{
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1);
  box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1);
  transition: all 0.5s ease; -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease;
}
.flat-box:hover, .flat-box:focus{
  transform: translate(0, -15px);
  -webkit-transform: translate(0, -15px);
  -o-transform: translate(0, -15px);
  -moz-transform: translate(0, -15px);
}
.colourway{
  height: 346px;
}
.colour1 {
  background:url('../img/undergrad.png')no-repeat top center;
}
.colour2 {
  background: url('../img/postgraduate.png') no-repeat top center;
}
.title{
  font-size: 15px;
  color: #9197a8;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 20px 40px 0;
}
.feature-text {
  padding: 0px 20px 40px 40px;
  font-style: italic;
  color: #7a8387;
  font-size: 16px;
}
.design-content p {
  line-height: 30px;
  font-weight: 300;
}




.svg-image {
  /* display: inline-block; */
  /* width: 134px; */
  height: 135px;
  /* margin: 40px 30px; */
  /* float: left; */
  margin-bottom: -25px;
  margin-top: -60px;
}