<div class="row center-block">
    <div class="col-xs-12">
        <div class="panel isotope-panel">
            <div class="panel-heading text-center">
                <div id="filters" class="btn-group-lg">
                    <button class="btn btn-lg all round-corners" data-filter="*">show all</button>
                    <button class="btn btn-lg Munster round-corners" data-filter=".Munster">Munster</button>
                    <button class="btn btn-lg Leinster round-corners" data-filter=".Leinster">Leinster</button>
                    <button class="btn btn-lg Connacht round-corners" data-filter=".Connacht">Connacht</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="isotope">
                    <!--Start of leinster -->
                    <div class="college Leinster underline" >
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Athlone Institute of Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">AL</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Athlone</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline" >
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Carlow College</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">PC</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Carlow</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Institute of Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">CW</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Carlow</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">American College Dublin</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">AC</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">College of Computer Training</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">CT</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Church of Ireland College of Education</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">CE</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Marino Institute of Education</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">CM</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Dorset College</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">DS</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Dublin Business School</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">DBS</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Dublin Institute of Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">DIT</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Dublin City University</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">DCU</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Dún Laoghaire Institute of Art, Design and Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">DL</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Grafton College of Management Sciences</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">GF</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Griffith College Dublin</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">GC</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Independent Colleges</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">IC</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">IBAT College Dublin</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">BY</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">ICD Business School</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">ID</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Institute of Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span clas="cao">BN</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row nopadding">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Blanchardstown,Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Institute of Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">TA</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Tallaght,Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">National College of Art and Design</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">AD</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">National College of Ireland</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">NC</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Portobello Institute</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">PI</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Respond! College</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">RS</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Royal College of Surgeons</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">RC</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">St Nicholas Montessori College</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">NM</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Trinity College Dublin</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">TR</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dublin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">University College Dublin</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">UCD</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dundalk</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Dundalk Institute of Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">DK</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dundalk</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Pontifical University</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">MU</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Maynooth</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Maynooth University</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">MH</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Maynooth</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of leinster-->
                    <!--start of connacht -->
                    <div class="college Connacht underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Galway-Mayo Institute of Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">GA</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Galway</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Connacht underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">National University of Ireland</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">NUIG</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Galway</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Connacht underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Letterkenny Institute of Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">LY</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Letterkenny</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Connacht underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">St Angela's College</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">AS</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Lough Gill Sligo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Connacht underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Institute of Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">SG</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Sligo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of connacht -->
                    <!-- start of munster -->
                    <div class="college Munster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Cork Institute of Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">CIT</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Cork</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Munster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">University College Cork</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">UCC</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Cork</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Munster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Limerick Institute of Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">LIT</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Limerick</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Munster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Institute of Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">TL</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Tralee</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Munster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Waterford Institute of Technology</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">WD</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Waterford</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Munster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Irish College of Humanities and Applied Sciences</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">CI</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Limerick</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Munster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Mary Immaculate College</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">MI</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Limerick</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Munster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Griffith College</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">GC</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Cork</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Munster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">University of Limerick</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">UL</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Limerick</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="college Munster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Shannon College of Hotel Management</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">SN</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Shannon</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of munster -->
                </div><!--isotope -->
                <div class="panel-footer isotope-footer text-center">
                    <div id="sorts" class="btn-group-lg spcustomChk">
                        <button class="btn button btn-lg sort" data-sort-by="name">Name</button>
                        <button class="btn button btn-lg sort" data-sort-by="cao">CAO</button>
                        <button class="btn button btn-lg sort" data-sort-by="location">Location</button>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>


<script>
    $(document).ready(function() {
        // init Isotope

        var $container = $('.isotope').isotope({
            itemSelector: '.college',
            getSortData: {
                name:'.name',
                location:'.location',
                cao:'.cao'
            }
        });

        $('.isotope').isotope('shuffle');

// filter functions
        var filterFns = {
            // show if number is greater than 50
            numberGreaterThan50: function() {
                var number = $(this).find('.number').text();
                return parseInt( number, 10 ) > 50;
            },
            // show if name ends with -ium
            ium: function() {
                var name = $(this).find('.names').text();
                return name.match( /ium$/ );
            }
        };

        // bind filter button click
        $('#filters').on( 'click', 'button', function() {
            var filterValue = $( this ).attr('data-filter');
            // use filterFn if matches value
            filterValue = filterFns[ filterValue ] || filterValue;
            $container.isotope({ filter: filterValue });
        });

        // bind sort button click
        $('#sorts').on( 'click', 'button', function() {
            var sortByValue = $(this).attr('data-sort-by');
            $container.isotope({ sortBy: sortByValue });
        });


    });

</script>
