<div class="row">
    <div class="col-md-8 col-md-offset-2 intro">
        <h1>CAO</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="col-sm-8 col-xs-6">
            <p>There are currently forty six universities across Ireland that can be applied for through the CAO,We have grouped these universities by province.Each province has been
                given a corresponding color. Courses can be filtered by province and sorted either alphabetically or by city.</p>

            <p>Each tile contains information such as college name, CAO identifier and location, to view courses belonging to each college as well as basic college information, click
                on whichever college you are interested in.</p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="college Demo" style="margin-top: 0px !important">
                <div class="row">
                    <div class="col-xs-12 nopadding">
                        <div class="top-text-demo">
                            <span class="demo-number">1.</span>University Name
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 nopadding">
                        <h3 class="middle-text-demo">
                            <span class="demo-number">2.</span>Cao Number
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 nopadding">
                        <div class="bottom-text-demo">
                            <span class="demo-number">3.</span>College Location
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
