<header class="college-header">
    <div class="heading">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="header-heading">Start College Search Now</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="header-sub-heading">It's easy</h4>
            </div>
        </div>
    </div>

</header>
