<!doctype html>
<html lang="en" class="no-js">
<head>
<head>
    <% include partials/template/head.ejs %>
</head>
<body>
<% include partials/template/header.ejs %>

<div class="wrapper">
    <div class="main-panel">
        <div class="content">
            <% include partials/sections/colleges/college-header.ejs %>
            <div class="container-fluid">
                <% include partials/sections/colleges/college-blurb.ejs %>
                <br/>
                <% include partials/sections/colleges/college-college-lookup.ejs %>

            </div>
        </div>
    </div>
</div>

<% include partials/template/jsdefaults.ejs %>




</body>
</html>