<!doctype html>
<html lang="en" class="no-js">
<head>
    <% include partials/template/head.ejs %>
</head>
<body>
<% include partials/template/header.ejs %>
    <main class="cd-main">
        <section class="cd-section index visible">
            <div class="header-container nopadding">
                <div class="video-container">
                    <video preload="true" autoplay="autoplay" loop="loop" volume="0" poster="">
                        <source src="video/people.mp4" type="video/mp4">
                    </video>
                </div><!-- emd of my video container -->
            </div>
<a href="/college"></a>
            <div class="cd-content" id="index-content">
                <div class="container intro">
                    <% include partials/sections/index-blurb.ejs %>
                    <% include partials/sections/index-cao.ejs %>
                    <% include partials/sections/index-colleges.ejs %>
                    <% include partials/sections/index-courses.ejs %>
                </div><!-- container -->
            </div><!-- cd-content -->
        </section> <!-- .cd-section -->
    </main> <!-- .cd-main -->

<div id="cd-loading-bar" data-scale="1" class="index"></div> <!-- lateral loading bar -->
<% include partials/template/jsdefaults.ejs %>

<script>
    $('.counter').each(function() {
        var $this = $(this),
                countTo = $this.attr('data-count');

        $({ countNum: $this.text()}).animate({
                    countNum: countTo
                },

                {
                    duration: 8000,
                    easing:'linear',
                    step: function() {
                        $this.text(Math.floor(this.countNum));
                    },
                    complete: function() {
                        $this.text(this.countNum);
                    }

                });
    });


</script>
</body>
</html>