<!doctype html>
<html lang="en" class="no-js">
<head>
    <% include partials/template/head.ejs %>
</head>
<body id="home">
<% include partials/template/header.ejs %>
<div class="wrapper">

    <div class="main-panel">
        <div class="content">
            <% include partials/sections/index/index-header.ejs %>
            <div class="container-fluid">
                <% include partials/sections/index/index-blurb.ejs %>
                <% include partials/sections/index/index-cao.ejs %>
                <% include partials/sections/index/index-colleges.ejs %>
                <% include partials/sections/index/index-courses.ejs %>

            </div>
        </div>
    </div>
</div>
<% include partials/template/jsdefaults.ejs %>

<script>
    var barChartData = {
        labels : [
            "600",
            "500-599",
            "400-499",
            "300-399",
            "200-299",
            "100-199",
            ">100",
        ],
        datasets : [
            {
                fillColor : "#3d9e40",
                strokeColor : "#fefefe",
                pointColor: 'transparent',
                pointStrokeColor: 'transparent',
                pointHighlightFill: '#fefefe',
                pointHighlightStroke: 'rgba(255,255,255,0.3)',
                data : [215,5431,14097,14446,9768,6562,4526]
            }
        ],
        responsive: true,
        animationSteps: 30,
        scaleFontColor: '#fefefe',
        datasetStrokeWidth: 6,
        pointDotRadius: 6,
        pointDotStrokeWidth: 6,
        scaleShowVerticalLines: false,
        scaleLineColor: '#9ec3b8',
        scaleGridLineColor: "#54b858",
        scaleGridLineWidth: 1
    }
    var doughnutData = [
        {
            value: 12,
            color:'#8cc152',
            label : 'Munster',
            labelColor : 'white',
            labelFontSize : '16'
        },
        {
            value : 4,
            color : '#967ADC',
            label : 'Connacht',
            labelColor : 'white',
            labelFontSize : '16'
        },
        {
            value : 1,
            color : '#E9573f',
            label : "Ulster",
            labelColor : 'white',
            labelFontSize : '16'
        },
        {
            value : 31,
            color : "#3bafda",
            label : 'Leinster',
            labelColor : 'white',
            labelFontSize : '16'
        }
    ]
    var lineChartData =  {
        labels : ["a1","b1","c1"],
        datasets : [
            {
                fillColor : "#8cc152",
                strokeColor : "#8cc152",
                pointColor : "#8cc152",
                pointStrokeColor : "#fff",
                data : [4.7, 10.2, 14.8]
            },
            {
                fillColor : "rgb(255,84,96)",
                strokeColor : "rgb(255,84,96)",
                pointColor : "rgb(255,84,96)",
                pointStrokeColor : "#fff",
                data : [1.4, 6.3, 12.9]
            }
        ]
    }
    var doughnutOptions = {
        //Boolean - Whether we should show a stroke on each segment
        segmentShowStroke : true,

        //String - The colour of each segment stroke
        segmentStrokeColor : "#fff",

        //Number - The width of each segment stroke
        segmentStrokeWidth : 2,

        //The percentage of the chart that we cut out of the middle.
        percentageInnerCutout : 50,

        //Boolean - Whether we should animate the chart
        animation : true,

        //Number - Amount of animation steps
        animationSteps : 100,

        //String - Animation easing effect
        animationEasing : "easeOutBounce",

        //Boolean - Whether we animate the rotation of the Doughnut
        animateRotate : true,

        //Boolean - Whether we animate scaling the Doughnut from the centre
        animateScale : true,

        //Function - Will fire on animation completion.
        onAnimationComplete : null,

        "legend": {
            "data":  [{
                title: "Munster",
                color: "#3366CC"
            },
            {
                title: "Connacht",
                color: "#2A363B"
            },
            {
                title:"Ulster",
                color:"#CB4B16"
            },
            {
                title:"Leinster",
                color:"#FF847C"
            }





            ]
        }
    }

    // Doughnut Chart Data

    var horizontalChartData = {
        labels: [
            '2015', '2014', '2013', '2012', '2011', '2010'
        ],
        datasets: [
            {
                label: 'Months',
                fillColor: '#3bafda',
                highlightFill: 'rgba(0,163,124,0.5)',
                data: [215, 162, 152, 165, 162, 136]
            }
        ]
    };
    var horizontalChartoptions = {
        barStrokeWidth : 1,
        responsive: true,
        animation: true
    };

    var ctx = document.getElementById("points").getContext("2d");
    window.myBar = new Chart(ctx).Bar(barChartData, {
        responsive : true
    });

    var ctx = document.getElementById("doughnutChart").getContext("2d");
    // Create the Doughnut Chart
    var mydoughnutChart = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);



    var ctx = document.getElementById("barChartData").getContext("2d");

    var chart = new Chart(ctx).HorizontalBar(horizontalChartData,horizontalChartoptions, {
        responsive: true,
        barShowStroke: false
    });

    new Chart(document.getElementById("lineChart").getContext("2d")).Line(lineChartData)</script>
</body>
</html>







