<!doctype html>
<html lang="en" class="no-js">
<head>

<head><% include partials/template/head.ejs %></head>


<body>
<% include partials/template/header.ejs %>

<main class="cd-main">
    <section class="cd-section index visible">

        <div class="header-container nopadding">
            <div class="video-container">
                <video preload="true" autoplay="autoplay" loop="loop" volume="0" poster="">
                    <source src="video/people.mp4" type="video/mp4">
                </video>
            </div><!-- emd of my video container -->

        </div>

        <div class="cd-content" id="index-content">
            <div class="container intro">

                <div class="row nopadding">
                    <div class="col-md-8 col-md-offset-2 intro">
                        <div class="block">
                            <p><span class="pale">W</span>e have all been there, it's time to consider college, What should be an exciting
                                time, can often become stressful. While we appreciate everyone is trying to help with college tips, course recommendations,
                                job opportunities and of course the CAO.</p>
                            <p>We want to provide with all the information that is publicly available, in one central place. We hope that this information
                                can help and serve as a point of reference if confused about the CAO points from previous years or about college information such as
                                course and module details.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row nopadding">
                    <div class="col-md-8 col-md-offset-2 intro">
                        <div class="col-xs-4 nopadding">
                            <div class="college Connacht underline">
                                <div class="row">
                                    <div class="col-xs-12 nopadding">
                                        <div class="top-text">
                                            <span class="name">National University of Ireland</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="middle-text text-center">
                                            <span class="cao">GY101</span>
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="bottom-text">
                                            <span class="location">Arts</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 nopadding">
                            <div class="college Munster underline">
                                <div class="row">
                                    <div class="col-xs-12 nopadding">
                                        <div class="top-text">
                                            <span class="name">University College Cork</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="middle-text text-center">
                                            <span class="cao">CK209</span>
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="bottom-text">
                                            <span class="location">Commerce with Irish</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 nopadding">
                            <div class="college Leinster underline">
                                <div class="row">
                                    <div class="col-xs-12 nopadding">
                                        <div class="top-text">
                                            <span class="name">Trinity</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="middle-text text-center">
                                            <span class="cao">TR801</span>
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="bottom-text">
                                            <span class="location">Dentistry</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row nopadding">
                    <div class="col-md-8 col-md-offset-2 intro">
                        <h1>CAO</h1>
                        <div class="block">
                            <p><span class="red">T</span>he CAO, if you want to attend any of the national universities then you better become
                                familiar with the CAO. For many this is the main cause of stress throughout the leaving cert, it is the one variable you cannot
                                predict. The CAO is the college gatekeeper. Fortunately previous years of CAO statistics are public information and free to everyone,
                                We provide the previous four years of CAO stats. We hope by doing this, it will save you vital time wasted searching for this information elsewhere.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row nopadding cao-space">
                    <div class="col-xs-12 cao-background">
                        <div class="col-xs-6 col-sm-3">
                            <div class="cao-item green">
                                <i class="fa fa-line-chart"></i>
                                <div class="timer counter" data-count="2.4"></div>
                                <h5>2.4%</h5>
                                <h5>Increase in amount of students taking the exam</h5>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="cao-item pale">
                                <i class="fa fa-users"></i>
                                <div class="timer counter" data-count="56990"></div>
                                <h5>56,990</h5>
                                <h5>leaving cert students 2014</h5>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="cao-item coral">
                                <i class="fa fa-trophy"></i>
                                <div class="timer counter" data-count="82.50"></div>
                                <h5>82.5%</h5>
                                <h5>of students who sat Russian, got an A</h5>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="cao-item red">
                                <i class="fa fa-thumbs-down"></i>
                                <div class="timer counter" data-count="33"></div>
                                <h5>33.3%</h5>
                                <h5>Failure rate in Ordinary level pyhsics</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row nopadding">
                    <div class="col-md-8 col-md-offset-2 intro">
                        <h1>Colleges</h1>
                        <div class="block">
                            <p><span class="coral">A</span>s speciality careers on the rise, the so called real world is changing
                                far too quickly for the established colleges to keep up, as a result many smaller colleges are offering
                                speciality courses. We believe students should have access to at least basic information about every
                                college no matter of size. Providing the college requires leaving cert points for entry we will provide
                                information about the college such as location, estimated student population, and course information.
                                ability.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="row nopadding">
                    <div class="col-md-8 col-md-offset-2 intro">
                        <h1>Courses</h1>
                        <div class="block">
                            <p><span class="dark">W</span>hat good is the CAO, if you don't know everything about the courses you are interested in? We cover every course
                                that is currently available through the CAo, We are always expanding our library and records, we currently have more information about the courses
                                on offer in the well established colleges as they have more information available. We do not differentiate between courses, we simply provide as much
                                information as we can.
                        </div>
                    </div>
                </div>

                <div class="row nopadding">
                    <div class="col-xs-12 col-sm-6 nopadding">
                        <div class="row nopadding">
                            <div class="col-xs-12 nopadding">
                                <div class="col-xs-6 col-sm-4 nopadding">
                                    <div class="college Connacht underline">
                                        <div class="row">
                                            <div class="col-xs-12 nopadding">
                                                <div class="top-text">
                                                    <span class="name">National University of Ireland</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h3 class="middle-text text-center">
                                                    <span class="cao">GY101</span>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="bottom-text">
                                                    <span class="location">Arts</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 nopadding">
                                    <div class="college Munster underline">
                                        <div class="row">
                                            <div class="col-xs-12 nopadding">
                                                <div class="top-text">
                                                    <span class="name">University College Cork</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h3 class="middle-text text-center">
                                                    <span class="cao">CK209</span>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="bottom-text">
                                                    <span class="location">Commerce with Irish</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 nopadding">
                                    <div class="college Leinster underline">
                                        <div class="row">
                                            <div class="col-xs-12 nopadding">
                                                <div class="top-text">
                                                    <span class="name">Trinity</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h3 class="middle-text text-center">
                                                    <span class="cao">TR801</span>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="bottom-text">
                                                    <span class="location">Dentistry</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="row nopadding">
                            <div class="col-xs-12">
                                <div class="college-options">
                                    <div class="college-option-undergrad">
                                        <div class="block">
                                            <p><span class="green">A</span>s we build up our undergraduate course library, we are also updating our postgraduate information, we believe that
                                                post graduate education can be just as important, if not more important to certain students, we are working as fast as we can to bring an up to date
                                                postgraduate service before christmas 2015.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>








            </div><!-- container -->

        </div><!-- cd-content -->
    </section> <!-- .cd-section -->
</main> <!-- .cd-main -->

<div id="cd-loading-bar" data-scale="1" class="index"></div> <!-- lateral loading bar -->
<% include partials/template/jsdefaults.ejs %>

<script>
    $('.counter').each(function() {
        var $this = $(this),
                countTo = $this.attr('data-count');

        $({ countNum: $this.text()}).animate({
                    countNum: countTo
                },

                {
                    duration: 8000,
                    easing:'linear',
                    step: function() {
                        $this.text(Math.floor(this.countNum));
                    },
                    complete: function() {
                        $this.text(this.countNum);
                    }

                });
    });


</script>
</body>
</html>