/* --------------------------------
Created by Andrew Rock
-------------------------------- */

/* --------------------------------
Fonts, Headings, other typography
-------------------------------- */

body{
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:16px;
}

h2, h3, h4, h5, .blue, .pink, .brown{
  font-family: 'Oxygen', sans-serif;
  font-weight:500;
}

h1{
  color: #2A363B!important;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}

h1:before{
  content: '';
  position: absolute;
  width: 280px;
  height: 1px;
  top: 65px;
  left: 0;
  right: 0;
  margin: auto;
}

h1:after{
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #FF847C;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/*navigation active class */
#home ul.nav li.side-home {
  color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
}

#college ul.nav li.side-college {
  color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
}

#courses ul.nav li.side-college-course {
  color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
}

#cao ul.nav li.side-cao{
  color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
}

.college-header {
  height: 350px;
  background: #2A363B url('../images/college-header.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}

.cao-header {
  height: 350px;
  background: #2A363B url('../images/cao-header.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}

.course-header {
  height: 350px;
  background: #2A363B url('../images/course-header.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}

.cao-heading{
  position: absolute;
  top:90%;
  left: 48%;
  transform: translate(-48%, -90%);

}
.heading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-heading{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color:#ffffff;
  text-transform: uppercase;
  z-index: 3;
}
.header-sub-heading{
  margin-top:25px;
  font-size:1.25rem;
  font-weight:700;
  text-transform: lowercase;
  color:#ffffff;
  text-align: center;

}

p{
  margin-bottom: 20px;
}

/* --------------------------------
Video
-------------------------------- */
.hero-unit {
  height:300px;
  border-right:none;
  border-left: none;
  position: relative;
  padding: 20px;
}
#video-container {
  position: absolute;
}
#video-container {
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;

}
video {
  position:absolute;
  z-index:-1;
}
video.fillWidth {
  width: 100%;
}
/* --------------------------------
Hacks and fixes
-------------------------------- */
.nopadding{
  padding: 0 !important;
  margin: 0 !important;
}
.intro{
  padding: 25px 0;
}

/* --------------------------------
button styling
-------------------------------- */
/* Round Corners */
.round-corners{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
}
.round-corners:hover, .round-corners:focus, .round-corners:active{
  border-radius: 1em;
}
/* underline effect */
.underline{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.underline:before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FECEA8;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underline:hover:before, .underline:focus:before, .underline:active:before{
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.btn:active, .btn:focus, .btn-lg, .btn:hover{
  color: #fff;
  outline: none !important;
}

.course-code{
  text-transform: none;
  letter-spacing: 0;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
  padding:10px;
}

.course-title{
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
}

.course-title-top{
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
}

/* --------------------------------
College Page Styling
-------------------------------- */
/* ---- isotope styling ---- */
.round-box{
  border-radius: 10px;
  width: 185px;
  height:200px;
  position: relative;
  margin: 20px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
}
.round-box:hover{
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);}
.round-box > * {
  margin: 0;
  padding: 0;
}

.top-text{
  top: 0px;
  color: #fff;
  padding-bottom: 15px;
  height: 30px;
}
.middle-text{
  text-transform: none;
  letter-spacing: 0;
  font-size: 45px;
  height:45px;
  font-weight: normal;
  font-family: 'Oxygen', sans-serif;
  margin-top:10px;
  margin-bottom:10px;
}
.bottom-text{
  margin-top: 10px;
  font-weight:400;
  margin-bottom:10px;
}
.very-bottom{
  margin-top:10px;
  bottom: 0;
  font-weight:400;
  width:100%;
  display: inline-block;
}
hr{
  margin-top: 5px;
  margin-bottom: 5px;
}
.actual-level{
  font-weight:700;
  font-family: 'Oxygen', sans-serif;
}

.top-text-college{
  top: 0px;
  color: #fff;
  padding-bottom: 15px;
  height: 30px;
}
.middle-text-college{
  text-transform: none;
  letter-spacing: 0;
  font-size: 45px;
  height:45px;
  font-weight: normal;
  font-family: 'Oxygen', sans-serif;
}
.bottom-text-college{
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  padding-bottom:10px;
}
.collage-heading{
  color: #2A363B!important;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.isotope-panel{
  -webkit-box-shadow: none;
  -moz-box-shadow:none;
  box-shadow:none;
}
.isotope{
  min-width:100%;
}
.isotope:after{
  content: '';
  display: block;
  clear: both;
}
.isotope-footer{
  background-color:inherit;
  border:none;
}
.Munster{
  background-color: #8cc152;
  color:white;
}
.Leinster{
  background-color: #3bafda;
  color:white;
}
.ulster{
  background-color: #E9573f;
  color:white;
}

.Connacht{
  background-color:#967ADC;
  color:white;
}
.all{
  background-color: #FECEA8;
  color:white;
}
.sort{
  background-color:#E84A5F;
  color:white;
}

.legend{
  font-size:14px;

}

#points{
  width: 100%!important;
  height:100%!important;
}

#lineChart{
  width: 100%!important;
  height:100%!important;
}
#doughnutChart{
  height:100%!important;
  width: 100%!important;
}
#barChartData{
  height:100%!important;
  width: 100%!important;
}


.chart-male{
  color:rgb(85,98,112);
}
.chart-female{
  color:rgb(255,107,107);
}

/* chart prov */
.chart-munster{
  color:#8cc152;
}
.chart-leinster{
  color:#3bafda;
}
.chart-connacht{
  color:#967ADC;
}
.chart-ulster{
  color:#E9573f;
}


/* Chart colors */

.color-1{
color:#059ece;
}
.color-2{
  color:#42c697;
}
.color-3{
  color:#4bc8dd;
}
.color-4{
  color:#916fb5;
}
.color-5{
  color:#ef6c6c;
}
.color-6{
  color:#f4b571;
}
.color-7{
  color:#d6639d;
}
.color-8{
  color:#f7db63;
}
.color-9{
  color:#6accc0;
}
.color-10{
  color:#4b74b5;
}




/*styling of capital letter for start of each section */
.green{
  color: #99B898;
  font-size: 55px;
  line-height:50px;
}
.pale{
  color: #FECEA8;
  font-size: 55px;
  line-height:50px;
}
.coral{
  color: #FF847C;
  font-size: 55px;
  line-height:50px;
}
.red{
  color:#E84A5F;
  font-size: 55px;
  line-height:50px;
}
.dark{
  color:#2A363B;
  font-size: 55px;
  line-height:50px;
}

.no-Box-Shadow{
  box-shadow: none;
}



.datatitle-students{
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #0C2B38;
  border-bottom: 1px solid #A2A6A6;
}


.datatitle{
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #0C2B38;
  max-width:60%;
  border-bottom: 1px solid #A2A6A6;
}

.datatitle-students{
  border:none;
}


.big-figure{
  color: #40BCD7;
  font-size:50px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
}

.cao-figure{
  color: #77B731;
  font-size:25px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
}

.bigchiffre{font-family: 'steel'; font-size:100px;line-height: 100px;}
.bigchiffre .unit.weight{font-size: 50px;color: #0C2B38;}
.bigchiffre .data.weight{color: #40BCD7}
.bigchiffre .unit.steps{font-size: 50px;color: #0C2B38;}
.bigchiffre .data.steps{color: #77B731}
.bigchiffre .unit.coffee{font-size: 50px;color: #0C2B38;}
.bigchiffre .data.coffee{color: #998478}
.bigchiffre .unit.elevation{font-size: 50px;color: #0C2B38;}
.bigchiffre .data.elevation{color: #4B6581}
.bigchiffre .unit.trip{font-size: 50px;color: #0C2B38;}
.bigchiffre .data.trip{color: #40BCD7}

