<div class="row nopadding">
    <div class="col-md-8 col-md-offset-2 intro">
        <h1>Courses</h1>
        <div class="block">
            <p><span class="dark">W</span>hat good is the CAO, if you don't know everything about the courses you are interested in? We cover every course
                that is currently available through the CAo, We are always expanding our library and records, we currently have more information about the courses
                on offer in the well established colleges as they have more information available. We do not differentiate between courses, we simply provide as much
                information as we can.
        </div>
    </div>
</div>

<div class="row nopadding">
    <div class="col-xs-12 col-sm-6 nopadding">
        <div class="row nopadding">
            <div class="col-xs-12 nopadding">
                <div class="col-xs-6 col-sm-4 nopadding">
                    <div class="college Connacht underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">National University of Ireland</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">GY101</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Arts</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 nopadding">
                    <div class="college Munster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">University College Cork</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">CK209</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Commerce with Irish</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 nopadding">
                    <div class="college Leinster underline">
                        <div class="row">
                            <div class="col-xs-12 nopadding">
                                <div class="top-text">
                                    <span class="name">Trinity</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="middle-text text-center">
                                    <span class="cao">TR801</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bottom-text">
                                    <span class="location">Dentistry</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="row nopadding">
            <div class="col-xs-12">
                <div class="college-options">
                    <div class="college-option-undergrad">
                        <div class="block">
                            <p><span class="green">A</span>s we build up our undergraduate course library, we are also updating our postgraduate information, we believe that
                                post graduate education can be just as important, if not more important to certain students, we are working as fast as we can to bring an up to date
                                postgraduate service before christmas 2015.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

