<div class="row nopadding">
    <div class="col-md-8 col-md-offset-2 intro">
        <h1>Colleges</h1>
        <div class="block">
            <p><span class="coral">A</span>s speciality careers on the rise, the so called real world is changing
                far too quickly for the established colleges to keep up, as a result many smaller colleges are offering
                speciality courses. We believe students should have access to at least basic information about every
                college no matter of size. Providing the college requires leaving cert points for entry we will provide
                information about the college such as location, estimated student population, and course information.
                ability.
            </p>
        </div>
    </div>
</div>

<div class="row nopadding">
    <div class="col-md-8 col-md-offset-2 intro">
        <div class="col-xs-4 nopadding">
            <div class="round-box Connacht underline">
                <div class="row">
                    <div class="col-xs-12 nopadding">
                        <div class="top-text-college">
                            <span class="name">National University of Ireland</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="middle-text-college text-center">
                            <span class="cao">GY101</span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bottom-text-college">
                            <span class="location">Arts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 nopadding">
            <div class="round-box Munster underline">
                <div class="row">
                    <div class="col-xs-12 nopadding">
                        <div class="top-text">
                            <span class="name">University College Cork</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="middle-text-college text-center">
                            <span class="cao">CK209</span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bottom-text-college">
                            <span class="location">Commerce with Irish</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 nopadding">
            <div class="round-box Leinster underline">
                <div class="row">
                    <div class="col-xs-12 nopadding">
                        <div class="top-text-college">
                            <span class="name">Trinity</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="middle-text-college text-center">
                            <span class="cao">TR801</span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bottom-text-college">
                            <span class="location">Dentistry</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
