<div class="row nopadding">
    <div class="col-xs-12 intro">
        <div class="block">
            <p><span class="pale">W</span>e have all been there, it's time to consider college, What should be an exciting
                time, can often become stressful. While we appreciate everyone is trying to help with college tips, course recommendations,
                job opportunities and of course the CAO.</p>
            <p>We want to provide with all the information that is publicly available, in one central place. We hope that this information
                can help and serve as a point of reference if confused about the CAO points from previous years or about college information such as
                course and module details.
            </p>
        </div>
    </div>
</div>

<div class="row nopadding">
    <div class="col-xs-12 nopadding">
        <div class="col-sm-4 col-xs-12">
            <div class="card">
                <div class="header">
                    <h4 class="text-center">Cao Breakdown</h4>
                </div>
                <div class="content">
                    <canvas id="points"></canvas>
                </div>
                <div class="footer">
                    <div class="legend text-center">
                        <i class="fa fa-circle chart-munster"></i> Number of students and grade
                    </div>
                </div>
            </div>
        </div>




        <div class="col-sm-4 col-xs-12">
            <div class="card">
                <div class="header">
                    <h4 class="text-center">College Statistics</h4>
                </div>
                <div class="content">
                   <canvas id="doughnutChart"></canvas>
                </div>
                <div class="footer">
                    <div class="legend text-center">
                        <i class="fa fa-circle chart-munster"></i> Munster
                        <i class="fa fa-circle chart-connacht"></i> Connacht
                        <i class="fa fa-circle chart-ulster"></i> Ulster
                        <i class="fa fa-circle chart-leinster"></i> Leinster
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-xs-12">
            <div class="card">
                <div class="header">
                    <h4 class="text-center">Cao Breakdown</h4>
                </div>
                <div class="content">
                    <canvas id="lineChart"></canvas>
                </div>
                <div class="footer">
                    <div class="legend text-center">
                        <i class="fa fa-circle chart-female"></i> % females
                        <i class="fa fa-circle chart-male"></i> % males
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
