<div class="row nopadding">
    <div class="col-md-8 col-md-offset-2 intro">
        <h1>CAO</h1>
        <div class="block">
            <p><span class="red">T</span>he CAO, if you want to attend any of the national universities then you better become
                familiar with the CAO. For many this is the main cause of stress throughout the leaving cert, it is the one variable you cannot
                predict. The CAO is the college gatekeeper. Fortunately previous years of CAO statistics are public information and free to everyone,
                We provide the previous four years of CAO stats. We hope by doing this, it will save you vital time wasted searching for this information elsewhere.
            </p>
        </div>
    </div>
</div>


<!--
<div class="row nopadding cao-space">
    <div class="col-xs-12 cao-background">
        <div class="col-xs-6 col-sm-3 text-center">
            <div class="cao-item green">
                <i class="fa fa-line-chart"></i>
                <div class="timer counter" data-count="2.4"></div>
                <h5>2.4%</h5>
                <h5>Increase in amount of students taking the exam</h5>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <div class="cao-item pale">
                <i class="fa fa-users"></i>
                <div class="timer counter" data-count="56990"></div>
                <h5>56,990</h5>
                <h5>leaving cert students 2014</h5>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <div class="cao-item coral">
                <i class="fa fa-trophy"></i>
                <div class="timer counter" data-count="82.50"></div>
                <h5>82.5%</h5>
                <h5>of students who sat Russian, got an A</h5>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <div class="cao-item red">
                <i class="fa fa-thumbs-down"></i>
                <div class="timer counter" data-count="33"></div>
                <h5>33.3%</h5>
                <h5>Failure rate in Ordinary level pyhsics</h5>
            </div>
        </div>
    </div>
</div>
-->


<div class="row">
 <div class="col-xs-6">
     <div class="col-xs-12">
         <div class="card">
             <div class="header">
                 <h4 class="text-center">Number of 600 point students</h4>
             </div>
             <div class="content">
                 <canvas id="barChartData"></canvas>
             </div>
         </div>
     </div>
</div>


     <div class="col-xs-6">
         <div class="col-xs-12">
             <div class="card">
                 <div class="header">
                     <h4 class="text-center">Number of 600 point students</h4>
                 </div>
                 <div class="content">
                     <canvas id="barChartData"></canvas>
                 </div>
             </div>

         </div>
     </div>

 </div>
