<div class ="section">
    <div class="hero-unit">
        <div id="video-container">
            <video autoplay loop class="fillWidth">
                <source src="/video/intro3.mp4" type="video/mp4">
            </video>
        </div><!-- end video-container -->
    </div><!-- end .header-unit -->
</div>
