<div class="row nopadding">
    <div class="col-md-8 col-md-offset-2 intro">
        <div class="block">
            <p><span class="pale">W</span>e have all been there, it's time to consider college, What should be an exciting
                time, can often become stressful. While we appreciate everyone is trying to help with college tips, course recommendations,
                job opportunities and of course the CAO.</p>
            <p>We want to provide with all the information that is publicly available, in one central place. We hope that this information
                can help and serve as a point of reference if confused about the CAO points from previous years or about college information such as
                course and module details.
            </p>
        </div>
    </div>
</div>

<div class="row nopadding">
    <div class="col-xs-12 nopadding">
        <div class="col-xs-4">
            <div class="chart-panel">
                <div class="panel-heading text-center">Cao Breakdown</div>
                <div class="panel-body">
                    <canvas id="points"></canvas>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="chart-panel">
                <div class="panel-heading text-center">College and courses</div>
                  <div class="panel-body">
                   <canvas id="doughnutChart"></canvas>
                     <div class="chart-legend text-center">
                       <ul>
                          <li class="chart-munster text-center">Munster</li>
                          <li class="chart-connacht text-center">Connacht</li>
                          <li class="chart-ulster text-center">Ulster</li>
                          <li class="chart-leinster text-center">Leinster</li>
                       </ul>
                     </div>
                   </div>
                </div>
            </div>

        <div class="col-xs-4">
            <div class="chart-panel">
                <div class="panel-heading text-center">Leaving cert stats</div>
                <div class="panel-body">
                    <canvas id="lineChart"></canvas>
                    <div class="chart-legend text-center">
                        <ul>
                            <li class="grade">Honours Irish grades</li>
                            <li class="chart-female">% of females</li>
                            <li class="chart-male">% of males</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>