    <%
    var connection = appdata.Cao.Years;
    for(var i=0; i < connection.length;i++){
    %>
                <p class="purchase-best primary">Starting from</p>
                <%
                for(var j = 0; j < connection[i].Points.length;j++){
                if(connection[i].Points[j].isDefault){
                for(var k = 0; k < connection[i].Points[j].PointBreakdown.length; k++){
                for(var l = 0; l < connection[i].Points[j].PointBreakdown[k].Results.length; l++) {
                %>
                <p>
                    <strong>$<%= connection[i].Points[j].PointBreakdown[k].Results[l].total  %></strong>
                </p>
                <%
                }
                }
                }
                }
                }
                %>

