<header class="cao-header">
    <div class="cao-heading">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="header-heading">CAO</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="header-sub-heading">Discover trends</h4>
            </div>
        </div>
    </div>

</header>
