<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 intro">
        <h1>CAO</h1>

        <div class="block">
            <p><span class="pale">C</span>ao statistics can be key to discovering trends
                among subjects. A lot of stress is usually caused un-necessarily by the CAO, Students
                only ever hear of 600 point students.
            </p>
            <p>Once you have looked through at the numbers you will be surprised to find
            you are no doubt better prepared than you previously thought.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 intro">
        <form role="form" class="form-horizontal">
            <div class="form-group col-xs-4">
                <label for="year" class="control-label">Select year</label>
            </div>
            <div class="form-group col-xs-8">
                <select class="basic">
                    <% appdata.year.forEach(function(item) { %>
                    <option><%= item.year %></option>
                    <% }); %>

                </select>
            </div>

        </form>
    </div>
</div>

