<div class="row nopadding">
    <div class="col-md-8 col-md-offset-2 intro">
        <div class="block">
            <p><span class="pale">W</span>e have all been there, it's time to consider college, What should be an exciting
                time, can often become stressful. While we appreciate everyone is trying to help with college tips, course recommendations,
                job opportunities and of course the CAO.</p>
            <p>We want to provide with all the information that is publicly available, in one central place. We hope that this information
                can help and serve as a point of reference if confused about the CAO points from previous years or about college information such as
                course and module details.
            </p>
        </div>
    </div>
</div>

<div class="row nopadding">
    <div class="col-md-8 col-md-offset-2 intro">
        <div class="col-xs-4 nopadding">
            <div class="college Connacht underline">
                <div class="row">
                    <div class="col-xs-12 nopadding">
                        <div class="top-text">
                            <span class="name">National University of Ireland</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="middle-text text-center">
                            <span class="cao">GY101</span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bottom-text">
                            <span class="location">Arts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 nopadding">
            <div class="college Munster underline">
                <div class="row">
                    <div class="col-xs-12 nopadding">
                        <div class="top-text">
                            <span class="name">University College Cork</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="middle-text text-center">
                            <span class="cao">CK209</span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bottom-text">
                            <span class="location">Commerce with Irish</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 nopadding">
            <div class="college Leinster underline">
                <div class="row">
                    <div class="col-xs-12 nopadding">
                        <div class="top-text">
                            <span class="name">Trinity</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="middle-text text-center">
                            <span class="cao">TR801</span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bottom-text">
                            <span class="location">Dentistry</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
